.panel {
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.panelItem {
    padding: 10px;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.noItems {
    padding: 10px;
    background-color: #007bff;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 30%);
    color: #fff;
}